.btn__navbarcolor{
    background-color: blueviolet;
    color: #fff;
    }
    .class{
        
        
    
    }


    .clase{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }